<div class="row text-center d-flex justify-content-center m-3">
  <div class="col-sm-3">
    <div class="card bg-light">
      <div class="card-body">
        <a href="user/invoices">
          <h5 class="card-title text-primary">Sales</h5>
          <p class="card-text text-primary">&#x20b9; {{sales}}</p>
        </a>


      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="card bg-light">
      <div class="card-body">
        <a>
          <h5 class="card-title text-primary">Invoices</h5>
          <p class="card-text text-primary">{{invoices}}</p>
        </a>


      </div>
    </div>
  </div>


</div>


<div class="row text-center d-flex justify-content-center m-3">

  <div class="col-sm-3">
    <div class="card bg-light">
      <div class="card-body">
        <a href="/user/customer">
          <h5 class="card-title text-primary">Customers</h5>
          <p class="card-text text-primary">{{customers}}</p>
        </a>


      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card bg-light">
      <div class="card-body">
        <a href="/user/product">
          <h5 class="card-title text-primary">Products</h5>
          <p class="card-text text-primary">{{products}}</p>
        </a>
      </div>
    </div>
  </div>

</div>


